@media screen and (max-width: 1233px){
    .img-gisele {
        width: 35rem;
    }
    .titulo1 {
        font-size: 8.6rem;
    }
    .titulo-2 {
        font-size: 12rem; 
     }
    .img-mais {
        width: 18rem;
    }
    .logo-stefanini {
        width: 54rem;
        height: 12.9rem;
    }
    .inicial {
        height: 46rem;
    }    
    .img-mais {
        width: 16rem;
        transform: translate(12.5rem, 0);
    }
}

@media screen and (max-width: 1158px){
    .img-gisele {
        width: 34rem;
    }
    .titulo1 {
        font-size: 7.6rem;
    }
    .titulo-2 {
        font-size: 11rem; 
    }
    .img-mais {
        width: 17rem;
    }
    .logo-stefanini {
        width: 53rem;
        height: 11.9rem;
    }
    .img-criacao {
        width: 45rem;
    }
    .texto-criacao {
        width: 50rem;
        font-size: 2.5rem;
    } 
}

@media screen and (max-width: 1080px){
    .img-gisele {
        width: 31rem;
    }
    .titulo1 {
        font-size: 6.6rem;
    }
    .titulo-2 {
        font-size: 10rem; 
    }
    .img-mais {
        width: 16rem;
        transform: translate(13rem, 0);
    }
    .logo-stefanini {
        width: 53rem;
        height: 11.9rem;
    }
    .inicial {
        height: 40rem;
    }  
}

@media screen and (max-width: 1040px){
    .img-mais {
        width: 13rem;
    }
    .img-mais {
        width: 15rem;
        transform: translate(12rem, 0);
    }
}

@media screen and (max-width: 1040px){
    .img-mais {
        width: 11rem;
        transform: translate(10rem, 0);
    }
    .nome-gisele{
        padding: 1rem 0 0 5rem;
    }
    .titulo1 {
        font-size: 7.6rem;
    }
    .titulo-2 {
        font-size: 11rem; 
    }
    .logo-stefanini {
        width: 53rem;
        height: 11.9rem;
    }   
}

@media screen and (max-width: 990px) {
    .img-gisele {
        width: 27rem;
    }
    .img-mais {
        width: 9rem;
        transform: translate(9rem, 0);
    }
    .nome-gisele{
        padding: 1rem 0 0 5rem;
    }
    .titulo1 {
        font-size: 5.6rem;
    }
    .titulo-2 {
        font-size: 9rem; 
    }
    .logo-stefanini {
        width: 50rem;
        height: 9.9rem;
    }   
}

@media screen and (max-width: 900px) {
    .img-criacao {
        width: 35rem;
    }
    .texto-criacao {
        width: 45rem;
        font-size: 2rem;
    }
    .paragrafo-fluxo {
        font-size: 2.5rem;
    }
    .nome-gisele{
        padding: 1rem 0 0 5rem;
    }
    .titulo1 {
        font-size: 2.6rem;
    }
    .titulo-2 {
        font-size: 7rem; 
    }
    .logo-stefanini {
        width: 45rem;
        height: 8.9rem;
    }
    .inicial {
        height: 35rem;
    }   
}