@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&display=swap');


:root {
    --fonte-titulo:'Bebas Neue', cursive;
    --fonte-texto:'Inter', sans-serif;
    --cor-primaria: #EE6C4D;
    --cor-secundaria:#F4845F;
    --cor-terciaria: #ffffff;
    font-size: 62.5%;
}

body {
    font-family: var(--fonte-texto);
    font-size: 1.6rem;
}

.inicial {
    display: flex;
    background: var(--cor-primaria);
    color: var(--cor-terciaria);
    font-family: var(--fonte-titulo);
    height: 50rem;
    padding: 2rem 0 2rem 2rem;
    align-items: center;
}

.box-logo {
    display: flex;
    flex-direction: column;
}

.titulo-1 {
    font-size: 9.6rem;
}

.titulo-2 {
   font-size: 13rem; 
}

.logo-stefanini {
    width: 55rem;
    height: 13.9rem;
}

.img-mais {
    width: 20rem;
    transform: translate(15rem, 0);
}

.box-img {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 7rem;
}

.img-gisele {
    width: 40rem;
}

.nome-gisele{
    padding: 1rem 0 0 10rem;
    font-size: 2rem;
}

.topicos {
    width: 100%;
}

.lista-icones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem auto;
}

.img-icone {
    width: 10rem;
    margin-top: 2rem;
}

.itens-icones {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10.5rem;
    text-align: center;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    margin-top: 2rem;
}

.comeco-projeto {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: var(--cor-primaria);
    padding: 7rem 0;
}

.img-criacao {
    width: 50rem;
    border-radius: 5rem;
}

.texto-criacao {
    width: 60rem;
    font-size: 3rem;
    font-style: italic;
    margin: auto 0;
    color: var(--cor-terciaria);
}

.escopo {
    background-color: var(--cor-secundaria);
    width: 100%;
    padding: 3rem 0;
    text-align: center;
}

.lista-escopo {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 45rem;
    margin: 0 auto;
}

h3 {
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 300;
    text-transform: uppercase;
}

.img-escopo {
    width: 5rem;
    transform: translate(0, 1.5rem);
    margin-right: 1rem;
}

.itens-escopo {
    line-height: 5rem;
    font-size: 2rem;
}

.pilares {
    width: 100%;
}

.paragrafo-pilares {
    text-align: center;
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: 700;
}

.icones-pilares{
    display: flex;
    padding: 3rem 0;
    justify-content: space-around;
}

.img-pilares {
    width: 20rem;
}

.box-fluxo {
    width: 100%;
    background: var(--cor-primaria);
    display: flex;
    flex-direction: column;
}

.box-icones {
    display: flex;
    justify-content: space-around;
}

.img-fluxo {
    width: 5rem;
    padding: 2rem 0; 
}

.caixa-ordenada1 {
    width: 15rem;
    background: var(--cor-terciaria);
    border-radius: 0 0 10rem 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    height: 18rem;
}

.caixa-ordenada2 {
   width: 15rem;
   background: var(--cor-terciaria);
   border-radius: 0 0 10rem 10rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   text-align: center;
   height: 25rem; 
}

.caixa-ordenada3 {
   width: 15rem;
   background: var(--cor-terciaria);
   border-radius: 0 0 10rem 10rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start; 
   text-align: center;
   height: 35rem;
}

.caixa-ordenada4 {
   width: 15rem;
   background: var(--cor-terciaria);
   border-radius: 0 0 10rem 10rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   text-align: center;
   height: 45rem; 
}

.caixa-ordenada5 {
   width: 15rem;
   background: var(--cor-terciaria);
   border-radius: 0 0 10rem 10rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start; 
   text-align: center;
   height: 55rem;
}

.paragrafo-fluxo {
    text-align: center;
    font-size: 3rem;
    padding: 3rem;
    transform: translate(0, -10rem);
}

.box-autorres {
    background: var(--cor-secundaria);
    width: 100%;
    font-size: 2rem;
    color: var(--cor-terciaria);
}

.img-autorres{
    width: 20rem;
    float: right;
    margin: 2rem 2rem;
}

.box-texto{
    padding: 4rem 4rem;
}

.titulo-autorres {
    line-height: 6rem;
}

.box-sitacao {
    width: 100%;
    height: 15rem;
}

.texto-sitacao {
    width: 75rem;
    text-align: center;
    margin: 2rem auto;
    font-size: 2rem;
}

.autor-sitacao {
    margin-left: 50%;
    font-style: italic;
    font-size: 1.3rem;
}

footer {
    text-align: center;
    height: 2rem;
    width: 100%;
    background: #000000;
    color: #ffffff;
    font-size: 1.3rem;
    padding: 1.3rem 0 0 0;
}
